<app-top-bar></app-top-bar>
<div style="justify-content: center;align-items: center;margin-top: 64px; display: flex;flex-direction: row;">
    <div style="margin-right: 30px;">
    <img src="{{product.url}}" alt="">
   </div>
   <div >
    <h1 >{{product.name}}</h1><br>
    <h2>${{product.price}}</h2><br>
    <h2>{{product.description}}</h2><br>
    <select class="detail-item" name="quantity"  class="select-input" [(ngModel)]="quantity">
        <option  value="1" selected>1</option>
        <option  value="2">2</option>
        <option  value="3">3</option>
        <option  value="4">4</option>
        <option  value="5">5</option>
    </select><br>
    <button (click)="addtocart(product)">Add to cart</button><br>
    <a routerLink="/">back to product list</a>
</div>
</div>
